<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kordoghli.firas.petcare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Ui.LostAndFound.AddLostActivity"></activity>
        <activity android:name=".Ui.Blog.BlogDetailActivity" />
        <activity android:name=".Ui.Blog.AddBlogActivity" />
        <activity android:name=".Ui.Adoptions.AdoptionDetailsActivity" />
        <activity android:name=".Ui.Adoptions.AddAdoptionActivity" />
        <activity android:name=".Ui.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Ui.MyPet.MyPetDetailsActivity" />
        <activity android:name=".Ui.MyPet.AddMyPetActivity" />
        <activity android:name=".Ui.authentication.SignupActivity" />
        <activity android:name=".Ui.authentication.LoginActivity" />
        <activity android:name=".Ui.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>